@import './reset.css';
@import 'variables';
@import 'mixins';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dark-mode-toggle {
  position: absolute;

  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: var(--mainBackgroundColor);
  color: var(--secondaryTextColor);

  border: none;
  outline: none;

  right: 1rem;
  top: 1rem;

  border-radius: 50%;

  transition: all 250ms ease-in-out;

  &:hover {
    color: var(--mainBackgroundColor);
    background-color: var(--defaultTextColor);
  }
}

.webservice-status-card {
  position: relative;
  height: 12rem;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr minmax(200px, 0.4fr);

  border-radius: 12px;

  background-color: var(--mainBackgroundColor);

  animation: 250ms opacity linear;

  @include mobile {
    grid-template-columns: 1fr 0.2fr;
    height: 8rem;
  }

  &.Loading {
    grid-template-columns: 1fr;

    animation: none;
  }

  .webservice-status-card-details {
    position: relative;

    padding: 1rem;

    border-radius: 12px 0 0 12px;
    border: 1px solid var(--borderColor);
    border-right: none;

    display: flex;
    flex-direction: column;

    background-color: transparent;

    .webservice-status-card-bar {
      position: absolute;

      z-index: 0;

      left: 0;
      bottom: 0;

      max-width: 100%;
      max-height: 100%;

      @include mobile {
        display: none;
      }
    }

    .webservice-status-card-details-button {
      position: absolute;

      z-index: 2;

      top: 1.2rem;
      right: 1rem;

      font-weight: 500;

      opacity: 0;

      background-color: transparent;
      border: none;
      outline: none;

      cursor: pointer;

      transition: opacity 250ms ease-in-out;

      color: var(--secondaryTextColor);

      &:hover {
        text-decoration: underline;
        color: var(--defaultTextColor);
      }
    }

    &:hover {
      .webservice-status-card-details-button {
        opacity: 1;
      }
    }

    .webservice-status-card-name {
      z-index: 1;
      font-size: 1.3rem;
      font-weight: bold;
    }

    .webservice-status-card-measurements {
      z-index: 1;
      display: flex;

      margin-top: auto;

      .webservice-status-card-measurement {
        margin-right: 1rem;

        .webservice-status-card-measurement-value {
          font-size: 2rem;
        }

        .webservice-status-card-measurement-name {
          font-size: 1rem;
          font-weight: 400;

          color: var(--secondaryTextColor);
        }
      }
    }
  }

  .webservice-status-card-status {
    position: relative;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 12px 12px 0;
    background-color: var(--successColor);
    color: var(--mainBackgroundColor);

    transition: all 250ms ease-in-out;

    &.Down {
      background-color: var(--dangerColor);
    }

    .material-icons {
      position: absolute;

      font-size: 5rem;

      @include mobile {
        display: none;
      }
    }
  }
}

@keyframes skeleton {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;

  background-color: currentColor;

  cursor: wait;

  border-radius: inherit;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, currentColor 0%, white 50%, currentColor 100%);
    animation: skeleton 2s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  }
}

@include mobile {
  html {
    font-size: 14px;
  }
}
