html {
    --accentColor: #0088CC;
    --accentColorHover: #0072ab;

    --mainBackgroundColor: #ffffff;
    --defaultTextColor: #111111;
    --secondaryTextColor: #666666;
    --alternativeTextColor: #ffffff;

    --shadowColor: rgba(0, 0, 0, 0.5);
}
