html {
  --accentColor: #0088CC;
  --accentColorHover: #0072ab;

  --mainBackgroundColor: #ffffff;
  --defaultTextColor: #111111;
  --secondaryTextColor: #666666;
  --alternativeTextColor: #ffffff;

  --shadowColor: rgba(0, 0, 0, 0.5);
  --borderColor: rgba(0, 0, 0, 0.1);

  --skeletonColor: #F3F4F5;

  --successColor: #2ecc71;
  --dangerColor: #e74c3c;
  --warningColor: #FFEB3B;
}
